<form (submit)="guardarCambios()"  [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input formControlName="nombre" matInput/>
        <mat-error>valor no valido</mat-error>        
      </mat-form-field> 

      <mat-form-field appearance="outline">
        <mat-label>Latitud</mat-label>
        <input formControlName="latitud" matInput/>
        <mat-error>valor no valido</mat-error>        
      </mat-form-field> 

      <mat-form-field appearance="outline">
        <mat-label>Longitud</mat-label>
        <input formControlName="longitud" matInput/>
        <mat-error>valor no valido</mat-error>        
      </mat-form-field> 
      
      <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid" >
            Guardar Cambios
        </button>
        <a mat-stroked-button routerLink="/generos">
            Cancelar
        </a>
      </div>
</form>
