
    <!--    
    <app-rating></app-rating>
    <app-ciclo-vida [titulo]="'Isabel'"></app-ciclo-vida>
    -->
    
        <app-listado-peliculas [peliculas]="peliculasEnCine"></app-listado-peliculas>
    <!--    
        <app-listado-peliculas [peliculas]="peliculasEstreno"></app-listado-peliculas>    
    -->    
    
    
    
    <!--
    <input type="file" style="display:none ;" #cargador>
    <button (click)="cargador.click()">Cargar Archivo</button>
    -->
    
    <!--
    <p>Curso Angular 13</p>
    <p>Mi nombre es:{{nombre}}</p>
    <p>La suma de 2+2 es:{{2+2}}</p>
    <p>El doble de 5 es:{{duplicarNumero(5)}}</p>
    -->
 
